on: push
name: Tests on linux
jobs:
  test_all_platforms:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run tests
        run: go test -race -cover ./...
